
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room Reservations</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Σύστημα Κρατήσεων</h1>
    <div class="navigation">
        <button onclick="loadPreviousPage()">Προηγούμενο</button>
        <button onclick="loadNextPage()">Επόμενο</button>
    </div>
    <div id="dashboard"></div>
    <script type="module" src="/static/js/main.js"></script>
</body>
</html>


