
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Σύστημα Κρατήσεων</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <h1>Σύστημα Κρατήσεων</h1>
        <button onclick="previous()">Προηγούμενο</button>
        <button onclick="next()">Επόμενο</button>
        <button onclick="deleteAllBookings()">Διαγραφή Όλων</button>
        <div id="dashboard"></div>
    </div>

    <script src="/static/script.js"></script>
</body>
</html>
