
<!DOCTYPE html>
<html lang="el">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Πίνακας Κρατήσεων Δωματίων</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div id="dashboard-container">
        <div id="dashboard"></div>
    </div>
    <script type="module" src="/static/js/frontend_dashboard.js"></script>
    <script type="module" src="/static/js/frontend_reservation.js"></script>
</body>
</html>
